:root {
	/* Dark mode (default) */
	--background-color: #363644;
	--text-color: #EAEAEA;
	--link-color: #82AAFF;
	--hover-link-color: #C792EA;
	--active-link-color: #FF5370;
}


body.light-mode {
	/* Light mode */
	--background-color: #d3d3d3;
	--text-color: #2B2B2B;
	--link-color: #1565C0;
	--hover-link-color: #6A1B9A;
	--active-link-color: #D32F2F;
}

body {
	background: var(--background-color);
	color: var(--text-color);
	transition: background-color 0.5s, color 0.5s;
}

img:hover {
	transform: scale(1.05);
	box-shadow: 5px 5px 5px 5px #888;
}

img {
	max-width: 125px;
}

.header-title {
	font-size: 4vw;
	font-family: Consolas;
	font-variant: small-caps;
	text-align: center;
}

.centered-text {
	text-align: center;
	font-family: Consolas;
}

table {
	width: 100%;
	font-family: Consolas;
}

th {
	height: 150px;
	text-align: center;
	vertical-align: middle;
}

td {
	height: 150px;
	text-align: center;
	vertical-align: middle;
}

a:link,
a:visited {
	color: var(--link-color);
}

a:hover {
	color: var(--hover-link-color);
}

a:active {
	color: var(--active-link-color);
}

.mode-toggle {
	display: block;
	padding: 10px;
	margin: 20px auto;
	background-color: #ccc;
	border: none;
	cursor: pointer;
	font-size: 1rem;
	border-radius: 5px;
}

.mode-toggle:hover {
	background-color: #888;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.custom-link {
	text-decoration: none;
	color: inherit;
	font-size: 1.5em;
	font-weight: bold;
}